<nav id="nav" class="navbar nav px-5" style="">
  <div>
    <img width="100px" src="/images/logo2.svg" alt="">
  </div>
  {{#if Admin}}
  <span>{{Admin.email}}</span>
  <a class="btn btn-warning" onclick="confirmLogout('{{Admin.first_name}}','{{Admin.last_name}}')" >
      Log Out
    </a>
  {{else}}
  <h4>Admin Pannel</h4>
   {{/if}}
</nav>
