<section>
    <div class="container-fluid px-5 py-3">
        <div class="row sidebar col-md3">
            <div class="heading fw-bold h4 text-center pt-1 text-second">
                Admin Pannel
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/dash"><i
                        class="fa-solid fa-layer-group"><span class="blue-secondary px-2">Dashboard</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/products"><i
                        class="fa-solid fa-box-open"><span class="blue-secondary px-2">Products</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/customers"><i class="fa-solid fa-user"><span
                            class="blue-secondary px-2">Customers</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/orders"><i
                        class="fa-solid fa-cart-shopping"><span class="blue-secondary px-2">Orders</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/categories"><i
                        class="fa-solid fa-table-cells-large"><span class="blue-secondary px-2">Category</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/banners"><i class="fa-solid fa-flag"><span
                            class="blue-secondary px-2">Banner Manage</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/coupens"><i
                        class="fa-solid fa-money-bill-wave"><span class="blue-secondary px-2">Manage
                            Coupen</span></i></a>
            </div>
            <div class="blue-secondary px-3 py-2">
                <a style="text-decoration:none; color:#0066B0" href="/admin/sales-report">
                    <i class="fa-solid fa-file-export"><span class="blue-secondary px-2">Sales Report</span></i>
                </a>
            </div>
        </div>
    </div>
</section>