<section>
<div class="container-fluid px-5 py-3">
    <div class="row sidebar col-md3">
        <div class="heading fw-bold h4 text-center pt-1 text-primary">
            Admin Pannel
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-layer-group"><span class="menu px-2">Dashboard</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-box-open"><span class="menu px-2">Products</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-user"><span class="menu px-2">Customers</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-cart-shopping"><span class="menu px-2">Orders</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="/admin/categories"><i class="fa-solid fa-table-cells-large"><span class="menu px-2">Category</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-gear"><span class="menu px-2">Settings</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-flag"><span class="menu px-2">Banner Manage</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><i class="fa-solid fa-money-bill-wave"><span class="menu px-2">Manage Coupen</span></i></a>
        </div>
        <div class="menu px-3 py-2">
            <a href="#"><<i class="fa-solid fa-file-export"><span class="menu px-2">Sales Report</span></i></a>
        </div>
    </div>
</div>
</section>