<section>
<div class="container-fluid px-5 py-3">
    <div class="row sidebar">
        <div class="heading fw-bold h4 text-center user-btn pt-1 ">
           My Account
        </div>
        <div class="user-text px-3 py-2">
            <a style="text-decoration:none; color:#50a088"  href="/my-account"><i class="fa-regular ms-1 fa-user"><span class="user-text fw-bold px-2">Profile</span></i></a>
        </div>
        <div class="user-text px-3 py-2">
            <a style="text-decoration:none; color:#50a088"  href="/my-account/wishlist"><i class="fa-regular ms-1 fa-heart"><span class="user-text fw-bold px-2">My wish List</span></i></a>
        </div>
        <div class="user-text px-3 py-2">
            <a style="text-decoration:none; color:#50a088"  href="/reviews"><i class="fa-regular ms-1 fa-star"><span class="user-text fw-bold px-2">Ratings & Reviews</span></i></a>
        </div>
        <div class="user-text px-3 py-2">
            <a style="text-decoration:none; color:#50a088"  href="/orders"><i class="fa-solid ms-1 fa-bag-shopping"><span class="user-text fw-bold px-2">My Orders</span></i></a>
        </div>
        <div class="user-text px-3 py-2">
            <a style="text-decoration:none; color:#50a088"  href="/my-account/edit-details/{{user_id}}"><i class="fa-solid ms-1 fa-circle-info"><span class="user-text fw-bold px-2">Account info</span></i></a>
        </div>
        <div class="user-text px-3 py-2">
            <a style="text-decoration:none; color:#50a088"  href="/my-account/my-address"><i class="fa-solid ms-1 fa-location-dot"><span class="user-text fw-bold px-2">Manage Address</span></i></a>
        </div>
    </div>
</div>
</section>