
<div style="width: 80%;" class="container py-5 w mb-5 new-category">
    <div class="div h3 text-second fw-bold">New Category</div>
    <form action="/admin/categories/new-category" method="post">
        <div class="form-group">
            <label class="fw-bold my-2" for="exampleFormControlInput1">Category Name</label>
            <input type="text" class="form-control" name="cat_name" placeholder="Enter the Name of the Category" id="exampleFormControlInput1" required >
        </div>
        <label class="fw-bold my-2" for="exampleFormControlInput1">Status</label>
        <select class="form-select" name="cat_status" aria-label="Default select example">
            <option value="true">List</option>
            <option value="false">Unlist</option>
        </select>
        <div class="form-group">
            <label class="fw-bold my-2"  for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control"  name="description" placeholder="Enter description About the Category" id="exampleFormControlTextarea1" rows="3" required></textarea>
        </div>
        <div class="text-center text-lg-start mt-4 d-flex">
            <button type="submit" class="btn add-btn btn-lg"
                style="display:block; padding:0.5em 2rem">ADD</button>
            <button type="reset"  class="btn button-cancel btn-lg px-5 mx-3">CLEAR</button>
        </div>
    </form>

</div>