<style>
    .error {
        color: rgb(255, 0, 0);
    }
</style>

<div class="container">
    <div class="h3 fw-bold mt-3 user-text">
        Edit Rating
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="well well-sm">
                <div class="row" id="post-review-box">
                    <div class="col-md-12">
                        <form id="edit-rating-form">
                            <fieldset class="rating mb-3">
                                <input type="hidden" id="rating" name="rating" value="{{review.rating}}" required>
                                <i id="1" class="fa-regular star text-warning fa-lg fa-star" role="button"></i>
                                <i id="2" class="fa-regular star text-warning fa-lg fa-star" role="button"></i>
                                <i id="3" class="fa-regular star fa-lg text-warning fa-star" role="button"></i>
                                <i id="4" class="fa-regular star text-warning fa-lg fa-star" role="button"></i>
                                <i id="5" class="fa-regular star text-warning fa-lg fa-star" role="button"></i>
                            </fieldset>
                            <input type="hidden" name="_id" value="{{review._id}}">
                            <textarea class="form-control animated" cols="50" id="new-review" name="comment"
                                placeholder="Enter your review here..." rows="5">{{review.comment}}</textarea>
                            <div class="container">
                                <span id="rateMe2" class="empty-stars"></span>
                            </div>


                            <div class="text-right mt-3">
                                <input type="reset" class="btn btn-lg  clear-btn" value="clear">
                                <button class="btn user-btn btn-lg" type="submit">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>