<div class="container d-flex" style="flex-direction: column; align-items:center; justify-content:center">

    <h1 style="z-index: 1;" class="user-text h1 mt-3 fw-bold">Order Confirmed</h1>
    <img style="height: 15rem; margin-top:-20px; z-index:0" src="https://media.tenor.com/6qAdvIpWGV4AAAAC/order.gif"
        alt="">
    <p style="z-index: 3;">Your Order will be delivered soon...</p>
    <div style="margin-top: -1rem; z-index:2"
        class="text-center text-lg-start pt-2 d-flex justify-content-center align-items-center ">
        <a href="/" type="submit" class="btn user-btn btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Go to My Orders</a>
    </div>
</div>