<div class="container d-flex" style="flex-direction: column; align-items:center; justify-content:center">
    <h1 style="margin-top: 40px;">Oops!</h1>
    <h1></h1>
    <h1 class="text-danger" style="z-index: 3;">404 Error Occurred</h1>
    <p style="z-index: 3;">Unfortunately the page you are looking for has been moved or deleted</p>
    <img style="height: 20rem; margin-top:-60px; z-index:0"
        src="https://cdn.dribbble.com/users/252114/screenshots/3840347/mong03b.gif" alt="">
    <div style="margin-top: -50px; z-index:2"
        class="text-center text-lg-start pt-2 d-flex justify-content-center align-items-center ">
        <a href="/" type="submit" class="btn add-btn btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem; margin-top:-20px">bach to home</a>
    </div>
</div>