<div class="container mt-3">
    <div class="row col-md-12">
        <p class="h4 fw-bold user-text">
            Edit your Details
        </p>
    </div>
    <div class="card py-5 px-5 col-md-10">
        <form>
            <div class="row col-md-8">
                <div id="name-Err" class=" text-danger"></div>
                <input id="user_name" type="text" value="{{userData.user_name}}" class="form-control" >
                <label for="form">Name</label>
            </div>
            {{!-- <div class="row col-md-8">
                <div id="mail-Err" class=" text-danger"></div>
                <input id="user_email" type="Email" autocomplete="on" value="{{userData.user_email}}"
                    class="form-control ">
                <input id="user_id" type="hidden" autocomplete="on" value="{{userData._id}}" class="form-control ">
                <label for="form">Email</label>
            </div> --}}
            <div class="row col-md-8">
                <div id="phone-Err" class=" text-danger"></div>
                <input id="user_mobile" type="text" autocomplete="on" value="{{userData.user_mobile}}"
                    class="form-control ">
                <label for="form">Phone</label>
            </div>
            <div class="row ms-3 col-md-8">
                <input type="checkbox" id="checkBox" autocomplete="on" class="form-check-input ">
                <label class="form-check-label mb-3" for="exampleCheck1">Change Password </label>
            </div>
            <div class="row col-md-8">
                <div id="cur_pass_err" class=" text-danger"></div>
                <input id="current_pass" type="password" autocomplete="on" class="pass form-control ">
                <label class="pass" for="form">Enter your Current Password</label>
            </div>

            <div  class="row confirm_new_pass col-md-8">
                <div id="new_pass_err" class=" text-danger"></div>
                <input id="new_password_id" type="password" value="" class="new_password form-control" >
                <label for="form">Enter Password</label>
            </div>
            <div class="row confirm_new_pass col-md-8">
                <div id="confim_pass_err" class=" text-danger"></div>
                <input id="confirm_new_pass_id" type="password" value="" class="confirm_new_pass form-control" >
                <label for="form">Confirm Password</label>
            </div>
            <div class="row ms-1 d-flex">
                <input id="update_btn" class="btn but col-md-3 user-btn btn-lg" autocomplete="on" type="button"
                    value="Update" /></input>
                <input class="ml-2 btn col-md-3 but clear-btn btn-lg" type="reset" autocomplete="on" value="Reset" />
            </div>
            <div class="row ms-1 d-flex">
                <input id="verify_pass" class="btn but_new col-md-3 user-btn btn-lg" autocomplete="on" type="button"
                    value="verify" /></input>
            </div>
            <div class="row ms-1 d-flex">
                <input id="Update_pass" class="btn Update_pass col-md-3 user-btn btn-lg" autocomplete="on" type="button"
                    value="Update" /></input>
            </div>
        </form>
    </div>

</div>